*.ejs
*.ico
*.map
*.png
*.svg
*.xml

.eslintignore
.prettierignore

yarn.lock

**/node_modules/
/app/**/build/
/app/**/build-hyperion/
/packages/**/cjs/
/packages/**/esm/
/packages/**/umd/
**/dist/

/coverage/

